{% extends "base.html" %}

{% block content %}

<html>

<!-- <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">  
</head> -->

<div class= "bg-info, container"
<div class="jumbotron">
<form action="{%  url 'login:logout' %}">
 <input type="submit" value="Logout"></input>
</form>

<div class='container bg-info'>
<div style="font-size: 40px"> Welcome {{username}}</div>
<div> Are you a... </div>
<div style = "font-size: 30px"><a href="{% url 'login:researcher' %}">Researcher</a></div>
<div style = "font-size: 30px"> <a href="{% url 'login:participant' %} ">Participant</a> </div>
</div>
{% endblock %}
</html>
