{% extends "base.html" %}

{% block content %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">  
</head>

<h1 style ="font-size: 50px " class= "center"> Reserach Portal </h1>



<div class="center"><b class="titleText" >Login</b> 

<form action="{% url 'login:verify' %}" method="post">
{% csrf_token %}

<div>
<b style= "font-size: 15px"> username </b> <input type ="text" name="username"> </input>
</div>
<div>
<b style = "font-size: 15px"> password </b> <input type ="password" name= "password"> </input>
</div>


<input type = "submit" value="submit"></input>
</form>

<a " href="{% url 'login:new_account' %}">New Account</a> </div>

</html> 
{% endblock %}
