{% extends "base.html" %}

{% block content %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">  
</head>


<div class = "container"</div>

<div>
<a href="../login/home"" class="btn btn-primary" role="button">Home</a> 
</div>



  <div style = "font-size: 30px"> 
 Welcome {{username}}!</div>

<form action="./edit_study" method='POST'>
{% csrf_token %}



{% for i in currentStudies %}

  <li><button class ='btn-link' type="submit" name='act' value="{{ i.name }}" >{{ i.name }}</button></li>


{% endfor %}

</form>

<a href="{% url 'login:make_study' %}" class="btn btn-primary" role="button">Make New Study</a> 
</div>

</html>
{% endblock %}



<!-- <li><a href="edit_study/{{i.name}}"> {{i.name}} </a></li> -->